
<mat-card>
  <div class="d-flex justify-content-between align-items-baseline">
    <mat-card-title>{{ furniture.name }}</mat-card-title>
    <h3 class="text-warning font-weight-bold">{{furniture.price | currency:'IDR':'symbol-narrow':'1.0'}}</h3>
  </div>
  <mat-card-content>
    <p>{{ furniture.getLimitedDesc(114) }}</p>
    <div class="text-primary">
      <ng-container *ngFor="let style of furniture.furnitureStyle; last as last;">
        <span>{{style}}</span><span *ngIf="!last"> &ndash; </span>
      </ng-container>
    </div>
    <h3 class="text-primary text-right font-weight-bold" style="text-decoration: underline;">
      {{furniture.deliveryTime}} Days
    </h3>
  </mat-card-content>
</mat-card>
